#Gallery{
	background-color: #FFFFFF;
}
#Gallery ul{
	background-color: #FFFFFF;border: none;
}
#Gallery ul li{
	border: none;background-color: #FFFFFF;width: 25%;padding: 0;
}
#Gallery ul li div{
	font-size: 12px;
}
.mui-table-view .span-font{
	font-size: 12px;
}
.table-tr-td-a{
	width: 80px;padding: 0 10px 0 0;
}
.table-tr-td-a img{
	width: 100px; vertical-align:middle;
}
.mui-table-view a{
	color: #000000;
}
.ul_sp_list{
	top: 10px;
}
.ul_sp_list li{
	padding: 8px 0;border-bottom: 0.7px #C0C0C0 solid;
}
.ul_sp_list a:active{
	color:#000;
}
.ul_sp_list li:active{
	color:#000;background:#F3F3F3;
}
.border_right_n{
	border-right: 0.7px #A3A3A3 solid;padding:0px 5px 0px 15px;
}
.table-tr-td-a .icon-mianyuyue-position{
	position:absolute;margin-top: 12px;left:76px;font-size: 41px;
}
