
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1497337350802'); /* IE9*/
  src: url('iconfont.eot?t=1497337350802#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1497337350802') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1497337350802') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1497337350802#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-mianyuyue:before { content: "\e682"; color: #E51C23;}

.icon-zhekou:before { content: "\e602"; color: #E51C23;}

.icon-jiudian:before { content: "\e645"; color: #888FF9;}

.icon-meishi:before { content: "\e648"; color: #FD9D22;}

.icon-huochepiaodingdan:before { content: "\e62f"; color: #4D93EB;}

.icon-dianying:before { content: "\e505"; color: #F46465;}

.icon-zhoubianyou:before { content: "\e50c"; color: #4EC5EC;}

.icon-waimai:before { content: "\e50f"; color: #F89E25;}

.icon-youhui:before { content: "\e64d"; color: #F4686B;}

.icon-ktv:before { content: "\e501"; color: #FFCB35;}

.icon-zhengchefuwu:before { content: "\e60a"; }

.icon-shangcheng:before { content: "\e601"; }

.icon-jin:before { content: "\e612"; }

.icon-fuwu-02:before { content: "\e602"; }

.icon-daolujiuyuan:before { content: "\e604"; }

.icon-shenghuoquan:before { content: "\e603"; }

.icon-saoyisao:before { content: "\e501"; }

.icon-fujin1:before { content: "\e532"; }

.icon-xiouxian:before { content: "\e724"; }

.icon-zhinengchanpin:before { content: "\e611"; }

